<script type="text/javascript">
$(document).ready(function() {


// update doesn't currently work right without javascript
$('.cart_update, .cart_delete').attr('data-remote', true);


$('.cart_update, .cart_delete').click(function() {
// the timeout needs to happen so rails can update the cart...I think
setTimeout(
  function() {
    $('#cart').load('<%= show_in_modal_cart_path(current_user.cart.id) %>');
},
100)

// minor visual feedback on button click
$(this).attr('disabled', true);

}); // end update button click

}); // close document ready
</script>

<div id="cart">

<table class="table">
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th>Unit Price</th>
    <th>Full Price</th>
    <th></th>
  </tr>
  <% for cart_item in @cart.cart_items %>
  <td><%= cart_item.item.name %></td>
  <td>

    <%= render :partial => 'cart_items/edit', :locals => {:cart_item => cart_item} %>
    
  </td>
  <td class="cart_item_price"><%= number_to_currency(cart_item.item.price) %></td>
  <td class="cart_full_price"><%= number_to_currency(cart_item.quantity*cart_item.item.price) %></td>
  <td><%= link_to "Remove", cart_item, :remote => false, :method=>:delete, :class=>"cart_delete btn btn-danger" %></td>
</tr>
</tr>
<% end %>
</table>
<div style="float:right; margin-right: 10px; text-align: right">
  <h4 id="subtotal">Subtotal: <%= number_to_currency @cart.subtotal_price %></h4>
  <h4 id="handling_fee">Handling fee: <%= number_to_currency @cart.handling_price %></h5>
  <h4 id="cart_total">Total: <%= number_to_currency @cart.total_price %></h5>
</div>

</div>