<!-- inventory show partial -->
<script type="text/javascript">
$(document).ready(function() {

// hide the non-javascript show link
$('.classic_show').hide();

// make the item rows clickable and have a pointer hover-over
$('.item_row').css('cursor', 'pointer').addClass('show_link');


// SHOW ITEM BEHAVIOR

// after clicking the item row
$('.show_link').click(function() {

    // build the url for the item modal show page
    var url_string = "/inventories/<%= @producer.inventory.id %>/items/" + $(this).attr('data-id') + "/show_in_modal";

    // fire the modal
    $('#item-modal').modal({  
      remote: url_string
  });
    // refresh the modal so you can go to multiple items without refreshing the whole page
    setTimeout(
      function() {
         $('#item_show').load(url_string);
     },
     100)

 }); // end click


<% if signed_in? %>

// ADD TO CART BEHAVIOR
// replace default link behavior
$('.add-to-cart').attr('data-remote', true);


$('.add-to-cart').click(function() {

  // doesn't work but whatever I guess
    

  $('#cart_modal').modal({
    remote: '<%= show_in_modal_cart_path(current_user.cart.id) %>'
  

  
  
});






// note: concern about the delay here too
// load the modal, but delay it slightly for time to add to cart
setTimeout(
  function() {
     $('#cart').load('<%= show_in_modal_cart_path(current_user.cart.id) %>');
 },
 100)

 }); // end click
// END ADD TO CART BEHAVIOR

<% end %>

// something about the partial makes this need to be here too
$('[data-toggle="tooltip"]').tooltip();


$('.close').click(function() {
  setTimeout(
  function() {
     alert('<%= cart_size(current_user.cart.id).to_s %>');
 },
 1000)
});



// sorting arrows
$('.asc').append('<i class="icon-arrow-up sort-arrow"></i>');
$('.desc').append('<i class="icon-arrow-down sort-arrow"></i>');

}); // end ready

</script>




<!-- Modal for items -->
<div id="item-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body"></div>
</div>
<!-- End modal for items -->


<% if signed_in? && (current_user.admin || current_user.coordinator || current_user == @producer) %>

<div align="right" style="margin-right:20px; margin-bottom: -20px;
margin-top: -5px">
<%= link_to edit_user_path(params[:id]), :class=>"link", :'data-toggle'=>"tooltip", :title=>"Edit Account" do %>

<div class="visible-desktop">
<i class="icon-wrench"></i>
</div>
<% end %>
</div>
<% end %>

<% if !(@producer.inventory.inventory_photos.empty?) %>
<div id="inventory-carousel" class="carousel slide" data-interval="4000">

        <% if @producer.inventory.inventory_photos.length > 1 %>

        <ol class="carousel-indicators hidden-phone">
            <% @producer.inventory.inventory_photos.each_with_index do |inventory_photo, index| %>

            <% if index == 0 %>
            <li data-target="#inventory-carousel" data-slide-to="<%= index %>" class="active"></li>
            <% else %>
            <li data-target="#inventory-carousel" data-slide-to="<%= index %>"></li>
              <% end %>
            <% end %>
        </ol>
        <% end %>

        <!-- Carousel items -->
        <div class="carousel-inner">
            <% @producer.inventory.inventory_photos.each_with_index do |inventory_photo, index| %>
            <% if index == 0 %>    
              <div class="active item">
                <%= image_tag inventory_photo.photo.url(:gallery_size) %>
              </div>
            <% else %>
            <div class="item">
                <%= image_tag inventory_photo.photo.url(:gallery_size) %>
            </div>
            <% end %>  
            <% end %>  
        </div>
 
    <!-- Carousel nav -->

    <% if (@producer.inventory.inventory_photos.length > 1) %>
    <a class="carousel-control left hidden-phone" href="#inventory-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right hidden-phone" href="#inventory-carousel" data-slide="next">&rsaquo;</a>
    <% end %>
</div>
<% end %>




<div id="inventory-info">

    <h1 id="inventory-title"><%= @producer.inventory.display_name %></h1>

    <% if @producer.inventory.url != nil %>
    <%= link_to @producer.inventory.url, url_with_protocol(@producer.inventory.url) %>
    <% end %>

    <%= @producer.inventory.description %>


<% if @item.count != 0 %>

 <%= form_for @producer.inventory, :url => url_for(:controller => 'inventories', :action => @put_action), :html => {:id => 'category-dropdown'}, :remote => @remote do |f| %>
    <%= collection_select(:inventory, :category, @producer.inventory.categories, :name, :name, {:prompt => "All", :selected => @category.nil? ? "" : @category}, {:onchange => '$("#category-dropdown").submit();'}) %>
<% end %>

<h3 id="current-inventory-title">Current Inventory</h3>

 <% if @remote %>
 <div class="inventory-pagination">
    <%= paginate @item, :remote => true %>
</div>
<% else %>
<div class="inventory-pagination">
    <%= paginate @item %>
</div>
<% end %>


<!-- If the current user is an admin, coordinator, or the producer whose page this is -->
<% if signed_in? && (current_user.admin || current_user.coordinator || current_user == @producer) %>
<%= link_to 'Add Item', producer_new_inventory_items_path(params[:id]), :class=>"btn btn-info", 
        :style => "margin-top: 8px; margin-right: 2.5%; margin-left: 2.5%; float: right;" %>
<% end %>



<table class="producer-table table-hover" align="center">
    <tr>
        <th class="hidden-phone"></th>
        <th id="name-sort" class="sort"><%= sortable "name", @remote, @producer, @category %></th>
        <th>Description</th>
        <th id="price-sort" class="sort hidden-phone"><%= sortable "price", @remote, @producer, @category %></th>
        <th class="hidden-phone sort"><%= sortable "minorder", @remote, @producer, @category, "Min Order" %></th>
        <th id="category-sort" class="sort hidden-phone"><%= sortable "category_id", @remote, @producer, @category, "Category" %></th>    
        <th id="available-sort" class="sort hidden-phone"><%= sortable "available", @remote, @producer, @category, "Available" %></th>
        <% if @producer != current_user %>
        <th class="hidden-phone"></th>
        <% end %>
        <% if current_user && (current_user.admin || current_user.coordinator || current_user == @producer) %>
        <th></th>
        <th class="hidden-phone"></th>
        <% end %>
  
    </tr>

    <% @item.each do |item| %>
    <tr>

        <td class="hidden-phone">
            <% if !(item.item_photo_file_name.nil?) %>
            <media class="item_row" data-id="<%= item.id %>">
                <%= image_tag(item.item_photo.url(:thumb)) %>
            </media>
            <%end%>
        </td>

        <td class="item_row" data-id="<%= item.id %>"><%= item.name %></td>
        <td class="item_row" data-id="<%= item.id %>"><%= item.description.size < 50 ? item.description : item.description[0..50] + "..." %></td>
        <td class="item_row hidden-phone" data-id="<%= item.id %>">
            <%= number_to_currency(item.price) %><b>/<%= item.units.singularize %></b></td>
        <td class="item_row hidden-phone" data-id="<%= item.id %>"><%= item.minorder %></td>
        <td class="item_row category_label hidden-phone" data-id="<%= item.id %>"><%= Category.find(item.category_id).name %></td>
        <td class="item_row hidden-phone" data-id="<%= item.id %>"><%= item.is_available? %></td>

        <td class="classic_show"><%= link_to "Show", inventory_item_path({ :inventory_id => params[:id], :id => item.id })%></td>

        <!-- add to cart -->
        <% if current_user && (@producer != current_user) && (item.is_available? == 'Yes') %>

        <td class="hidden-phone">
            <%= link_to "Add to Cart", cart_items_path(:item_id => item), :remote => false, :method => :post, 
        :class => "btn add-to-cart" %>
        <% end %>
        <!-- end add to cart -->


        <!-- inventory controls -->
        <% if current_user && (current_user.admin || current_user.coordinator || current_user == @producer) %>
        <td class="hidden-phone">
            <%= link_to edit_inventory_item_path({ :inventory_id => params[:id], :id => item.id }), :'data-toggle'=>"tooltip", :title=>"Edit Item" do %>
            <i class="icon-wrench"></i>
            <% end %>
        
            <%= link_to inventory_item_path({ :inventory_id => params[:id], :id => item.id }), :confirm => 'Are you sure?', :method => :delete, :'data-toggle'=>"tooltip", :title=>"Delete Item" do %>
            <i class="icon-trash"></i>
            <% end %>
        </td>

        <% end %>
        <!-- end inventory controls -->

    </tr>
    <% end %> 
</table>

<!-- fix this -->
<% else %>
<h4 id="empty-inventory-title">
    Currently Nothing For Sale
</h4>
<% end %> 
<br>



<!-- closing div's from the main show erb file -->
</div>
</div>
</div>

