<div class="container" style="width: 940px; padding-left: 0px; padding-right: 0px;">
  <div class="row">
    <div class="span12" style="width: 940px;">

      <%= form_for(@inventory, :url => url_for(:controller => 'inventories', :action => 'update', :add => true, :editform => true), :html=>{:class=>'form-horizontal', :multipart => true}) do |f| %>

      <header class="navbar navbar-fixed-top" style="z-index: 1000;">
        <div class="navbar-inner-table big-nav">

          <div class="hidden-desktop big-form-warning">
            Be warned, this form is best used on a larger screen  
          </div>

          <div class="container" style="margin-top: 12px; width: 940px; padding: 2px 0px 2px 0px;">

            <table style="width: 940px;">
              <thead>
                <tr>
                  <th style="padding: 0px 0px 0px 0px;">Photo</th>
                  <th style="padding: 0px 0px 0px 30px;">Name</th>
                  <th style="padding: 0px 0px 0px 80px;">Category</th>
                  <th style="padding: 0px 0px 0px 40px;">Description</th>
                  <th style="padding: 0px 0px 0px 100px;">Price</th>
                  <th style="padding: 0px 0px 0px 60px;">Unit</th>
                  <th style="padding: 0px 0px 0px 0px; font-size: 75%; white-space: nowrap; text-align: right;">
                    Min Order</th>
                    <th style="padding: 0px 0px 0px 0px; font-size: 75%; white-space: nowrap; text-align: right;">
                      Max Order</th>
                      <th style="padding: 0px 0px 0px 0px; font-size: 75%; text-align: right;">Quantity</th>
                      <th style="padding: 0px 0px 0px 0px; font-size: 75%; text-align: right;">Available</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </header>

          <div class="hidden-desktop warning-spacing"></div>

          <table class="big-table">
           <tbody>
            <%= f.fields_for :item do |item_form| %>


            <% if item_form.object.errors.any? %>
            <div class="big-form-alert big-form-alert-error fade in">
             <a class="close" data-dismiss="alert" href="#">&times;</a>
             <h4><%= pluralize(item_form.object.errors.count, "error") %> prohibited the following items from being saved:</h4>

             <br>
             <% item_form.object.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
             <% end %>

           </div>
           <% end %>




           <% if item_form.object.new_record? %>

           <tr>

            <td style="max-width: 60px">
              <div class="fileupload fileupload-new" data-provides="fileupload" style="margin-bottom: 0px;">
                <div class="fileupload-new thumbnail" style="width: 50px; height: 50px;">

                  <% if (item_form.object.item_photo_file_name.nil?) %>
                </div>

                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;">
                </div>

                <span class="btn btn-file" style="padding: 0px; margin-top: -6px; ">
                  <span class="fileupload-new" style="padding: 0px 23px 0px 23px;">
                    <i class="icon-upload"></i>
                  </span>

                  <span class="fileupload-exists" style="padding: 0px 7px 0px 7px;"><i class="icon-upload"></i></span>
                  <%= item_form.file_field :item_photo %>
                </span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload" 
                style="padding: 1px 7px 0px 7px; margin-top: -6px;"><i class="icon-remove"></i></a>

                <% end %>
              </td>



              <td><%= item_form.text_field :name, :placeholder => "Name", :style => "width: 105px;" %></td>
              <td><%= item_form.collection_select(:category_id, Category.all, :id, :name, {}, {:style => "width:110px;"}) %></td>
              <td><%= item_form.text_area :description, :placeholder => "Description",:style => "width: 180px; height: 75px;" %></td>
              <td>
                <div class="input-prepend">
                  <span class="add-on">лв</span>
                  <%= item_form.text_field :price, :placeholder => "Price",:class=>"span2", :id=>"inv_price_field",
                  :style => "width: 45px;" %>
                </div>
              </td>
              <td><%= item_form.text_field :units, :placeholder => "Unit", :style => "width: 45px;" %></td>
              <td><%= item_form.text_field :minorder, :placeholder => "Min", :style => "width: 35px;" %></td>
              <td><%= item_form.text_field :maxorder, :placeholder => "Max",:style => "width: 35px;" %></td>
              <td><%= item_form.text_field :totalquantity, :placeholder => "Qty",:style => "width: 45px;" %></td>
              <td><%= item_form.check_box :available %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>

        <br><br>

        <footer class="navbar navbar-fixed-bottom" style="z-index: 1;">
          <div class="navbar-bottom big-nav">
            <div class="container" style="width: 940px;">
              <h3 id="inventory-form-title"><%= @inventory.display_name %>'s Inventory</h3>
              <%= f.submit "Save Inventory", :class=>"btn btn-primary", :style=>"float:right; "%>
            </div>
          </div>
        </footer>

        <% end %>

      </div>
    </div>
  </div>
