<div class="container">
  <div class="row-fluid">
    <div class="span12">

      <%= form_for(@inventory, :url => url_for(:controller => 'inventories', :action => 'update', :add => true), :html=>{:class=>'form-horizontal', :multipart => true}) do |f| %>

      <header class="navbar navbar-fixed-top" style="z-index: 1000;">
        <div class="navbar-inner-table">
          <div class="container" style="margin-top: -8px;">

            <table class="big-table-header">
              <thead>
                <tr>
                  <th style="width: 60px;">Photo</th>
                  <th style="width: 130px;">Name</th>
                  <th style="width: 110px;">Category</th>
                  <th style="width: 190px;">Description</th>
                  <th style="width: 80px;">Price</th>
                  <th style="width: 30px;">Unit</th>
                  <th style="width: 58px; font-size: 12px; padding-top:2px;">Min Order</th>
                  <th style="width: 62px; font-size: 12px; padding-top:2px;">Max Order</th>
                  <th style="width: 40px; font-size: 12px; padding-top:2px;">Quantity</th>
                  <th style="width: 40px; font-size: 12px; padding-top:2px;">Available</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </header>

      <table class="big-table" style="margin-top: 30px;">

        <tbody>
          <%= f.fields_for :item do |item_form| %>


      <% if item_form.object.errors.any? %>
			<div class="big_form_alert big_form_alert-error fade in">
  			<a class="close" data-dismiss="alert" href="#">&times;</a>
  			<h4><%= pluralize(item_form.object.errors.count, "error") %> prohibited the following items from being saved:</h4>

 			 <br>
  			<% item_form.object.errors.full_messages.each do |msg| %>
  			<li><%= msg %></li>
  			<% end %>

  			</div>
  		   <% end %>

          <% if item_form.object.new_record? %>
          <tr>

            <td style="max-width: 60px">
            <div class="fileupload fileupload-new" data-provides="fileupload" style="margin-bottom: 0px;">
              <div class="fileupload-new thumbnail" style="width: 50px; height: 50px;">

                <% if (item_form.object.item_photo_file_name.nil?) %>
              </div>

              <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;">
              </div>

              <span class="btn btn-file" style="padding: 0px; margin-top: -6px; ">
                <span class="fileupload-new" style="padding: 0px 22px 0px 22px;">
                  <i class="icon-upload"></i>
                </span>

                <span class="fileupload-exists" style="padding: 0px 6px 0px 6px;"><i class="icon-upload"></i></span>
                <%= item_form.file_field :item_photo %>
              </span>
              <a href="#" class="btn fileupload-exists" data-dismiss="fileupload" 
              style="padding: 0px 6px 0px 6px; margin-top: -6px;"><i class="icon-remove"></i></a>

              <% end %>
            </td>



            <td><%= item_form.text_field :name, :placeholder => "Name", :style => "width: 120px;" %></td>
            <td><%= item_form.collection_select(:category_id, Category.all, :id, :name, {}, {:style => "width:110px;"}) %></td>
            <td><%= item_form.text_area :description, :placeholder => "Description",:style => "width: 180px; height: 75px;" %></td>
            <td>
              <div class="input-prepend">
                <span class="add-on">$</span>
                <%= item_form.text_field :price, :class=>"span2", :id=>"inv_price_field",
                :style => "width: 45px;" %>
              </div>
            </td>
            <td><%= item_form.text_field :units, :style => "width: 45px;" %></td>
            <td><%= item_form.text_field :minorder, :style => "width: 45px;" %></td>
            <td><%= item_form.text_field :maxorder, :style => "width: 45px;" %></td>
            <td><%= item_form.text_field :totalquantity, :style => "width: 45px;" %></td>
            <td><%= item_form.check_box :available %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>

<br><br>

      <footer class="navbar navbar-fixed-bottom" style="z-index: 0;">
        <div class="navbar-bottom">
          <div class="container">
            <%= f.submit "Save Inventory", :class=>"btn btn-primary" %>
          </div>
        </div>
      </footer>

      <% end %>

    </div>
  </div>
</div>
