<div class="container">
  <div class="row">
    <div class="span8 offset2 custom-block">

<h1 align="center">Edit Producer Profile</h1><br>

<%= form_for(@inventory, :html=>{:class=>'form-horizontal', :multipart => true}) do |f| %>
<% if @inventory.errors.any? %>
<div class="alert alert-error">
  <h4><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h4>

  <br><ul>
    <% @inventory.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="control-group">
  <label class="control-label">
    <%= f.label(:display_name, "Producer Name") %>
  </label>
  <div class="controls">
    <%= f.text_field :display_name %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label(:url, "Website", :placeholder=>"www.example.com") %>
  </label>
  <div class="controls">
    <%= f.text_field :url %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label(:description, "Description") %>
  </label>
  <div class="controls">
    <%= f.text_area :description %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label(:photo, "Profile Photo") %>
  </label>
  <div class="controls">
    <%= f.file_field :photo %>
  </div>
</div>

<br>
<div class="control-group controls">
  <%= f.submit "Save", :class=>"btn btn-primary"%>
</div>


<% end %>

</div>
</div>
</div>