<%= form_for @user, :url => url_for(:controller => 'users', :action => 'updatepassword'), :html=>{:class=>'form-horizontal'} do |f| %>
<% if @user.errors.any? %>
<div class="alert alert-error">
  <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

  <br><ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="control-group">
  <label class="control-label">
    <%= f.label :old_password, "Old Password *" %>
  </label>
  <div class="controls">
    <%= f.password_field :old_password, :placeholder=>"Old Password" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label :password, "New Password *" %>
  </label>
  <div class="controls">
    <%= f.password_field :password, :placeholder=>"New Password" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label :password_confirmation, "Confirm New Password *" %>
  </label>
  <div class="controls">
    <%= f.password_field :password_confirmation, :placeholder=>"Confirm New Password" %>
  </div>
</div>

<div class="control-group controls">
  <%= f.submit "Save", :class=>"btn btn-primary" %>
</div>

<div align="center">
  * Denotes required field
  <br><br>
  <p style="color: gray">Forgot your password? <%= link_to "Reset!", new_password_reset_path %></p>
</div>

<% end %>
