<%= form_for @user, :url => url_for(:controller => 'users', :action => 'updatepassword') do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :old_password, "Old Password *", :class=>'inline betaLabelTextField' %>
    <%= f.password_field :old_password %>
  </div>
  <div class="field">
    <%= f.label :password, "New Password *", :class=>'inline betaLabelTextField' %>
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label :password_confirmation, "Confirm New Password *", :class=>'inline betaLabelTextField'%>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>

  <br />* Denotes required field<br />
<% end %>
