<div class="container">
  <div class="row">
    <div class="span8 offset2 custom-block">

      <%= form_for(@user, :html=>{:class=>'form-horizontal', :multipart => true}) do |f| %>

      <% if @user.errors.any? %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

        <br><ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <h1 align="center">Edit Account</h1>




    <!-- <h4 align="center" style="color:gray; margin-top:20px; margin-bottom:0px">Member Information</h4> -->
    <br>

    <% if current_user.admin || current_user.coordinator %>
    <div class="controls" style="margin-left:200px; color:maroon;">
      <% if current_user.admin %>
      <label class="checkbox inline">
        Admin
        <%= f.check_box :admin %>
      </label>
      <% end %>

      <label class="checkbox inline">
        Coordinator
        <%= f.check_box :coordinator %>
      </label>

      <label class="checkbox inline">
        Producer
        <%= f.check_box :producer %>
      </label>
    </div>
    <% end %>
    <br>


    <div class="control-group">
      <label class="control-label">
        <%= f.label(:first_name, "First Name *", :placeholder=>"First Name") %>
      </label>
      <div class="controls">
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        <%= f.label :last_name, "Last Name *" %>
      </label>
      <div class="controls">
        <%= f.text_field :last_name, :placeholder=>"Last Name" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        <%= f.label :email, "Email *" %>
      </label>
      <div class="controls">
        <%= f.text_field :email, :placeholder=>"Email" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        <%= f.label :phone %>
      </label>
      <div class="controls">
        <%= f.text_field :phone, :placeholder=>"Phone" %>
      </div>
    </div>

    <% if @user.producer %>
    <br>
    <h4 align="center" style="color:gray">Producer Information</h4><br>

    <%= f.fields_for :inventory, @user.inventory do |inventory_form| %>

    <div class="control-group">
      <label class="control-label">
        <%= inventory_form.label(:display_name, "Producer Name") %>
      </label>
      <div class="controls">
        <%= inventory_form.text_field :display_name %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        <%= inventory_form.label(:url, "Website", :placeholder=>"www.example.com") %>
      </label>
      <div class="controls">
        <%= inventory_form.text_field :url %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        <%= inventory_form.label(:description, "Description") %>
      </label>
      <div class="controls">
        <%= inventory_form.text_area :description %>
      </div>
    </div>

    <%= inventory_form.fields_for :inventory_photos do |photo_form| %>

    <% if photo_form.object.new_record? %>


<div class="control-group">
  <label class="control-label" style="margin-left: -50px; margin-right: -40px;">
  <%= photo_form.label(:photo, "Gallery Photo") %>
  </label>

 <div align="center">

<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="input-append">
    <div class="uneditable-input span3">
      <i class="icon-file fileupload-exists"></i> 
      <span class="fileupload-preview"></span>
    </div>
    <span class="btn btn-file">
      <span class="fileupload-new">Select Photo</span>
      <span class="fileupload-exists">Change</span>
      <%= photo_form.file_field :photo %>
    </span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Cancel</a>
  </div>
</div>

</div>
</div>

    <% end %>
    

  <% unless photo_form.object.new_record? %>

  <div class="control-group">
    <div class="controls">

      <%= image_tag photo_form.object.photo.url(:thumb), :style => 'border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4' %>
    </div>
    <div class="controls" style="margin-top: 5px;">
      <%= link_to "Delete Gallery Photo", inventory_photo_path(photo_form.object.id), :class => 'btn', :method => :delete %>
    </div>
  </div>
    <% end %> 
    <% end %> 
  <% end %>




  <div align="center" style="color: gray;">
    * Denotes required field
  </div>
  <% end %>

  <br>
  <div class="control-group controls">
    <%= f.submit "Save Changes", :class=>"btn btn-primary"%>
  </div>

</div>
</div>
</div>
<% end %>