<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

            <h1>Listing users</h1>

            <table class="table table-hover">
              <tr>
                <th>User</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Display name</th>
                <th>Member</th>
                <th>Coordinator</th>
                <th>Farmer</th>
                <th>Admin</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

           <% @users.each do |user| %>
<% if (current_user.admin || current_user.coordinator) %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.display_name %></td>
    <td><%= user.member %></td>
    <td><%= user.coordinator %></td>
    <td><%= user.farmer %></td>
    <td><%= user.admin %></td>
<% end %>
    <td><%= link_to 'Show', user %></td>
    <% if current_user.admin || (!user.admin && current_user.coordinator) %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    
    <% if current_user.admin %>
    <td><%= link_to "Delete", user, :confirm => 'Are you sure?', :method=>:delete, :class=>:Destroy %></td>
    <% end %>

  </tr>
<% end %>
</table>

        <br />
	<% if current_user.admin %>
        <%= link_to 'New User', new_user_path, :class=>"btn" %>
    <% end %>  

    </div>
</div>
</div>