    <% if notice %>
    <div class="home_alert home_alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="home_alert home_alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= alert %>
    </div>
    <% end %>

    <div class="container">
        <div class="row-fluid">
            <div class="span12">

                <h1>Listing users</h1>

                <table class="table table-hover">
                  <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Member</th>
                    <th>Coordinator</th>
                    <th>Producer</th>
                    <th>Admin</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                <% @users.each do |user| %>
                <% if (current_user.admin || current_user.coordinator) %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.first_name + " " +user.last_name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td><%= user.member %></td>
                    <td><%= user.coordinator %></td>
                    <td><%= user.producer %></td>
                    <td><%= user.admin %></td>
                    <% end %>
                    <td><%= link_to 'Show', user %></td>
                    <% if current_user.admin || (!user.admin && current_user.coordinator) %>
                    <td><%= link_to 'Edit', edit_user_path(user) %></td>
                    <% end %>
                    
                    <% if current_user.admin %>
                    <td><%= link_to "Delete", user, :confirm => 'Are you sure?', :method=>:delete, :class=>:Destroy %></td>
                    <% end %>

                </tr>
                <% end %>
            </table>

            <br />
            <% if current_user.admin || current_user.coordinator %>
            <%= link_to 'New User', new_user_path, :class=>"btn" %>
            <% end %>  

        </div>
    </div>
</div>