    <% if notice %>
    <div class="home_alert home_alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="home_alert home_alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= alert %>
    </div>
    <% end %>

<!-- likely temporary warning, but if not at least it's here -->
    <div class="hidden-desktop big-form-warning" style="margin-top: -14px;">
        Be warned, this table is best viewed on a larger screen  
    </div>

    <div class="container">
        <div class="row-fluid">
            <div class="span12">

                <h1>All Users
                    <% if current_user.admin || current_user.coordinator %>
                    <%= link_to 'Add New User', new_user_path, :id=>"add-user-button", :class=>"btn btn-info" %>
                    <% end %> 
                </h1>

                <table id="user-table" class="table table-striped table-bordered">
                  <tr>
                    <th style="font-size: 75%;">User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th style="font-size: 75%;">Coordinator</th>
                    <th style="font-size: 75%;">Producer</th>
                    <th style="font-size: 75%;">Admin</th>
                    <% if current_user.admin || current_user.coordinator %>
                    <th></th>
                    <% end %>
                </tr>

                <% @users.each do |user| %>
                <% if (current_user.admin || current_user.coordinator) %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.first_name + " " +user.last_name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td><%= user.coordinator %></td>

                    <td>
                        <% if user.producer %>
                        <%= link_to(user.inventory.display_name, inventory_path(user.inventory)) %>
                        <% else %>
                        <%= user.producer %>
                        <% end %>
                    </td>

                    <td><%= user.admin %></td>
                    <% end %>

                    
                    <td>
                    <% if current_user.admin || (!user.admin && current_user.coordinator) %>
                    
                        <%= link_to edit_user_path(user), :'data-toggle'=>"tooltip", :title=>"Edit User" do %>
                        <i class="icon-wrench"></i>
                        <% end %>


                        <% if current_user.admin %>
                        <%= link_to user, :confirm => 'Are you sure?', :method=>:delete, :class=>:Destroy, :'data-toggle'=>"tooltip", :title=>"Delete User", :style=>"margin-left: 10px;" do %>
                        <i class="icon-trash"></i>
                        <% end %>
                  
                    <% end %>

                    </td>
                    <% end %>
                    
                    

                </tr>
                <% end %>
            </table>

        </div>
    </div>
</div>