<div class="container">
	<div class="row">
		
		<%if @user.producer || @user.coordinator || @user.admin %>


		<div class="span2-half offset2-half custom-block" style="padding-bottom: 76px">
			<ul class="nav nav-list">

				<% if @user.coordinator || @user.admin %>
				<li class="nav-header">Administration</li>
				<li><%= link_to 'All Users', users_path %></li>

				<% if @user.admin %>
				<li><%= link_to 'Add User', new_user_path %></li>
				<% end %>

				<li class="nav-header">Inventory</li>
				<li><%= link_to 'Add Item for Producer', admin_coord_newitem_path %></li>
				<% end %>

				<% if @user.producer %>
				<li class="nav-header">Producer Options</li>
				<li><%= link_to 'Inventory', public_index_inventory_path(@user.id) %></li>
				<li><%= link_to 'Add Item', producer_newitem_path %></li>
				<% end %>
			</ul>
		</div>
		<% end %>


		<div class="span8 custom-block" style="margin-left:33px">

			<% if notice %>
			<div class="alert alert-success fade in">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<%= notice %>
			</div>
			<% end %>

			<% if alert %>
			<div class="alert alert-success fade in">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<%= alert %>
			</div>
			<% end %>


			<div align="right" style="margin-right:60px; margin-bottom:-40px;
			margin-top: 20px">
				<%= link_to edit_user_path(current_user), :class=>"link", :rel=>"tooltip", :title=>"Edit Account" do %>

				<i class="icon-wrench"></i>

				<% end %>
			</div>


			<h2 style="margin-left:60px">Hello <%= @user.first_name %>!</h2>




			<br>




			<table class="table" style="width:500px" align="center">
			<!-- 	<tr>
					<th style="color: gray">First Name</th>
					<td><%= @user.first_name %></td>
				</tr>

				<tr>
					<th style="color: gray">Last Name</th>
					<td><%= @user.last_name %></td>
				</tr> -->

				<tr>
					<th style="color: gray">Email</th>
					<td style="text-align:right"><%= @user.email %></td>
				</tr>

				<tr>
					<th style="color: gray">Phone</th>
					<td style="text-align:right"><%= @user.phone %></td>
				</tr>

				<tr>
					<th style="color: gray">Roles</th>
					<td style="text-align:right">

						<% if @user.member %>
						Member
						<% end %>

						<% if @user.producer %>
						, Producer 
						<% end %>

						<% if @user.coordinator %>
						, Coordinator 
						<% end %>

						<% if @user.admin %>
						, Admin 
						<% end %>


					</td>

				</table>


				<% if @user.producer %>

				<br>
				<ul class="nav nav-list">
					<li class="divider"></li>
				</ul>
				<br>

				<h4 style="margin-left:60px">Producer Information</h4>
				
				<% if !(@user.inventory.photo_file_name.nil?) %>
				<h2 align="center">
					<%= image_tag(@user.inventory.photo.url, :width => 150, :height => 150) %>
				</h2>
				<%end%>
				<br>
				<table class="table" style="width:500px" align="center">
				<!-- 	<tr>
						<th style="color: gray">First Name</th>
						<td><%= @user.first_name %></td>
					</tr>

					<tr>
						<th style="color: gray">Last Name</th>
						<td><%= @user.last_name %></td>
					</tr> -->
					<tr>
						<th style="color: gray">Producer Name</th>
						<td style="text-align:right"><%= @user.inventory.display_name %></td>
					</tr>

					<tr>
						<th style="color: gray">Website</th>
						<td style="text-align:right"><%= @user.inventory.url %></td>
					</tr>

					<tr>
						<th style="color: gray">Description</th>
						<td style="text-align:right"><%= @user.inventory.description %></td>
					</tr>

				</table>

			</div>
			<% end %>
		</div>
	</div>



