<p id="notice"><%= notice %></p>

<p>Hello <%= @user.first_name %>!</p>

<p>You are a
<% if @user.farmer %>
farmer
<% end %>

<% if @user.member %>
member
<% end %>

<% if @user.coordinator %>
coordinator
<% end %>

<% if @user.admin %>
admin
<% end %>
</p>


<%= link_to 'Edit Account Information', edit_user_path(@user) %>
<%= link_to 'Change Password', editpassword_user_path(@user) %>
<% if @user.admin %>
	<%= link_to 'Add user', new_user_path %>
<% end %>
<%= link_to 'Back', root_path %>
