<div class="container">
	<div class="row">
		
		<%if @user.farmer || @user.coordinator || @user.admin %>


		<div class="span2 offset1 custom-block">
			<ul class="nav nav-list">

				<% if @user.coordinator || @user.admin %>
				<li class="nav-header">User Options</li>
				<li><%= link_to 'Show Users', users_path %></li>
				<% if @user.admin %>
				<li><%= link_to 'Add User', new_user_path %></li>
				<% end %>
				<% end %>

<<<<<<< HEAD
				<% if @user.farmer %>
				<li class="nav-header">Farmer Options</li>
				<li><%= link_to 'Show Inventory', inventories_path %></li>
				<li><%= link_to 'Add Item', newitem_path %></li>
			</ul>
		</div>
		<% end %>
=======
			<% if @user.producer %>
			, Producer
			<% end %>
>>>>>>> e93a0a27acec6fec9bcb978c432231e02b76ea83


		<% end %>


		<div class="span8 custom-block">

			<% if notice %>
			<div class="alert alert-success"><%= notice %></div>
			<% end %>

			<% if alert %>
			<div class="alert alert-success"><%= alert %></div>
			<% end %>

<<<<<<< HEAD
			<h2 align="center">Hello <%= @user.first_name %>!</h2>

=======
			<% if current_user.producer %>
				<%= link_to 'Add Item', newitem_path, :class=>"btn" %>

				<%= link_to 'Inventory', items_path, :class=>"btn" %>	
			<% end %>
	
			</div>
>>>>>>> e93a0a27acec6fec9bcb978c432231e02b76ea83

			<table class="table" style="width:500px" align="center">
			<!-- 	<tr>
					<th style="color: gray">First Name</th>
					<td><%= @user.first_name %></td>
				</tr>

				<tr>
					<th style="color: gray">Last Name</th>
					<td><%= @user.last_name %></td>
				</tr> -->

				<tr>
					<th style="color: gray">Email</th>
					<td><%= @user.email %></td>
				</tr>

				<tr>
					<th style="color: gray">Phone</th>
					<td><%= @user.phone %></td>
				</tr>

				<tr>
					<th style="color: gray">Roles</th>
					<td>
						<% if @user.farmer %>
						Farmer, 
						<% end %>

						<% if @user.coordinator %>
						Coordinator, 
						<% end %>

						<% if @user.admin %>
						Admin, 
						<% end %>

						<% if @user.member %>
						Member
						<% end %>
					</td>

				</table>

			</div>
		</div>
	</div>



