<div class="container">
	<div class="row">
		
		<%if @user.producer || @user.coordinator || @user.admin %>


		<div class="span3 custom-block" style="padding-bottom: 76px">
			<ul class="nav nav-list">

				<% if @user.coordinator || @user.admin %>
				<li class="nav-header">User Options</li>
				<li><%= link_to 'All Users', users_path %></li>
				<% if @user.admin %>
				<li><%= link_to 'Add User', new_user_path %></li>
				<% end %>
				<% end %>

				<% if @user.producer %>
				<li class="nav-header">Producer Options</li>
				<li><%= link_to 'Inventory', items_path %></li>
				<li><%= link_to 'Add Item', newitem_path %></li>
				<% end %>
			</ul>
		</div>
		<% end %>


		<div class="span8 custom-block">

			<% if notice %>
			<div class="alert alert-success"><%= notice %></div>
			<% end %>

			<% if alert %>
			<div class="alert alert-success"><%= alert %></div>
			<% end %>


			<h2 align="center">Hello <%= @user.first_name %>!</h2>
			<br>

			<table class="table" style="width:500px" align="center">
			<!-- 	<tr>
					<th style="color: gray">First Name</th>
					<td><%= @user.first_name %></td>
				</tr>

				<tr>
					<th style="color: gray">Last Name</th>
					<td><%= @user.last_name %></td>
				</tr> -->

				<tr>
					<th style="color: gray">Email</th>
					<td><%= @user.email %></td>
				</tr>

				<tr>
					<th style="color: gray">Phone</th>
					<td><%= @user.phone %></td>
				</tr>

				<tr>
					<th style="color: gray">Roles</th>
					<td>

						<% if @user.member %>
						Member
						<% end %>

						<% if @user.producer %>
						, Producer 
						<% end %>

						<% if @user.coordinator %>
						, Coordinator 
						<% end %>

						<% if @user.admin %>
						, Admin 
						<% end %>


					</td>

				</table>

			</div>

			<% if @user.producer %>
				<div class="span8 offset3 custom-block" style="margin-top: 17px">

				<% if notice %>
				<div class="alert alert-success"><%= notice %></div>
				<% end %>

				<% if alert %>
				<div class="alert alert-success"><%= alert %></div>
				<% end %>


				<h2 align="center">Hello <%= @user.first_name %>!</h2>
				<br>

				<table class="table" style="width:500px" align="center">
				<!-- 	<tr>
						<th style="color: gray">First Name</th>
						<td><%= @user.first_name %></td>
					</tr>

					<tr>
						<th style="color: gray">Last Name</th>
						<td><%= @user.last_name %></td>
					</tr> -->

					<tr>
						<th style="color: gray">Prdducer Name</th>
						<td><%= @user.inventory.display_name %></td>
					</tr>

					<tr>
						<th style="color: gray">Website</th>
						<td><%= @user.inventory.url %></td>
					</tr>

					<tr>
						<th style="color: gray">Description</th>
						<td><%= @user.inventory.description %></td>
					</tr>

					</table>

				</div>
			<% end %>
		</div>
	</div>



