<script type="text/javascript">
$(document).ready(function() {

// If it's paid for give color indication
$('.paid').each(function() {
  if ($(this).text() == 'Yes') {
    $(this).addClass('success-cell');
  } else {
    // Will make unpaid items have red cell
     $(this).addClass('danger-cell');
  }
  });

}); // end ready
</script>

<div class="container">
  <div class="row-fluid">
    <div class="span12 custom-block">
      <div id="all-orders-table" class="margin-five">

        <div style="float: right; margin-top: 4px;">
          <%= view_link "View By Buyer", "Buyer" %>
          <%= view_link "View By Producer", "Producer" %>
          <%= link_to "PDF", all_orders_path(:format => 'pdf'), :class=>"btn btn-gray" %>
        </div>

        <h2><%= @title %></h2>

        <table class="table table-bordered table-striped" >
          <tr>
            <th class="hidden-phone sort"><%= order_sortable "buyer"%></th>
            <th class="hidden-phone sort"><%= order_sortable "producer"%></th>
            <th class="hidden-phone sort"><%= order_sortable "product"%></th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Full Price</th>
            <th class="hidden-phone sort"><%= order_sortable "paid_for", "Paid For" %></th>
          </tr>
          <% for purchase in @purchases %>
          <td><%= link_to purchase.user.name, user_path(purchase.user.id)  %></td>
          <td><%= link_to purchase.item.inventory.display_name, inventory_path(purchase.item.inventory.id) %></td>
          <td><%= link_to purchase.item.name, inventory_item_path(purchase.item.inventory.id, purchase.item.id)%></td>
          <td><%= purchase.quantity %> <%= purchase.item.units.pluralize %></td>
          <td><%= number_to_currency(purchase.unit_price) %></td>
          <td><%= number_to_currency(purchase.full_price) %></td>
          <td class="paid"><%= purchase.paid ? "Yes" : "No" %></td>
        </tr>
      </tr>
      <% end %>
    </table>

    <!-- Divider -->
    <ul class="nav nav-list">
    <li class="divider"></li>
    </ul>

    <div id="order-totals">
      <h4 id="subtotal">Subtotal Revenue: <%= number_to_currency Purchase.subtotal_payment %></h4>
      <h4 id="handling-fee">Handling Total: <%= number_to_currency Purchase.handling_fee %></h4>
      <h4 id="total">Total Revenue: <%= number_to_currency Purchase.total_payment %></h4>
      <h4 id="pending-total"> Pending Payment: <%= number_to_currency  Purchase.pending_payment %></h4>
      <h4 id="processed-total"> Processed Payment: <%= number_to_currency Purchase.processed_payment %></h4>
    </div>

  </div>
</div>
</div>
</div>