<script type="text/javascript">
$(document).ready(function() {

// If it's paid for give color indication
$('.paid').each(function() {
  if ($(this).text() == 'Yes') {
    $(this).addClass('success-cell');
  } else {
    // Will make unpaid items have red cell
    // $(this).addClass('danger-cell');
  }
  });

}); // end ready
</script>

<div class="container">
  <div class="row-fluid">
    <div class="span12 custom-block">
      <div id="all-orders-table" class="margin-five">

        <h2><%= @title %></h2>
        <ul>
          <p><%= view_link "View All Orders" %></p>
          <p><%= view_link "View By Producer", "Producer" %></p>
        </ul>

        <% for buyer in @purchases_by_user.keys %>
        <h3 style="text-align:left"><%= buyer.name %></h3>
        <table class="table table-bordered table-striped" >
          <tr>
            <th>Producer</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Full Price</th>
            <th class="hidden-phone sort">Paid For</th>
          </tr>
          <% for purchase in @purchases_by_user[buyer] %>
          <td><%= link_to purchase.item.inventory.display_name, inventory_path(purchase.item.inventory.id) %></td>
          <td><%= link_to purchase.item.name, inventory_item_path(purchase.item.inventory.id, purchase.item.id)%></td>
          <td><%= purchase.quantity %> <%= purchase.item.units.pluralize %></td>
          <td><%= number_to_currency(purchase.unit_price) %></td>
          <td><%= number_to_currency(purchase.full_price) %></td>
          <td class="paid"><%= purchase.paid ? "Yes" : "No" %></td>
        </tr>
      </tr>
      <% end %>
    </table>


<!-- Divider -->
<ul class="nav nav-list">
<li class="divider"></li>
</ul>

    <div id="order-totals">
    <h4 id="total">Total Revenue: <%= number_to_currency buyer.total_payment %></h4>
    <h4 id="pending-total"> Pending Payment: <%= number_to_currency  buyer.pending_payment %></h4>
    <h4 id="processed-total"> Processed Payment: <%= number_to_currency buyer.processed_payment %></h4>

    <% end %>


    </div>

  </div>
</div>
</div>
</div>