<script type="text/javascript">
$(document).ready(function() {

// If it's paid for give color indication
$('.paid').each(function() {
  if ($(this).text() == 'Yes') {
    $(this).addClass('success-cell');
  } else {
    // Will make unpaid items have red cell
    $(this).addClass('danger-cell');
  }
  });

}); // end ready
</script>

<div class="container">
  <div class="row-fluid">
    <div class="span12 custom-block">
      <div id="all-orders-table" class="margin-five">

      <div style="float: right; margin-top: 4px;">
        <%= view_link "View By Buyer", "Buyer" %>
        <%= view_link "View By Producer", "Producer" %>
        <%= link_to "PDF", report_path(:format => 'pdf', :order_view => 'Buyer'), :class=>"btn btn-gray" %>
      </div>

      <h2><%= @title %></h2>
      <table class="table table-bordered table-striped" >
        <tr>
          <th>Member Name</th>
          <th>Order Total</th>
          <th>Handling Fee</th>
          <th>Payment</th>
        </tr>

        <% for user in @users %>
          <td><%= user.name %></td>
          <td><%= number_to_currency(user.total_payment) %></td>
          <td><%= number_to_currency(user.total_payment * @markup) %></td>
          <td><%= number_to_currency(user.total_payment * (1 + @markup)) %></td>
        </tr>
      </tr>
      <% end %>
    </table>

  

  </div>
</div>
</div>
</div>
