<script type="text/javascript">
$(document).ready(function() {

// If it's paid for give color indication
$('.paid').each(function() {
  if ($(this).text() == 'Yes') {
    $(this).addClass('success-cell');
  } else {
    // Will make unpaid items have red cell
    // $(this).addClass('danger-cell');
  }
});

}); // end ready
</script>

<div class="container">
  <div class="row">
    <div class="span10 offset1 custom-block">

      <% if notice %>
      <div class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notice %>
      </div>
      <% end %>


      <% if alert %>
      <div class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= alert %>
      </div>
      <% end %>



      <div id="purchases-table" class="margin-five">

        <h2>Ordered Items</h2>

            <% if !@purchases.empty? %>      
              <table class="table table-bordered">
                <tr>
                  <th></th>
                  <th>Item</th>
                  <th>Quantity Ordered</th>
                  <th>Price</th>
                </tr>
                <% for purchase in @purchases %>
                  <td> <% if !(purchase.item.item_photo_file_name.nil?) %>
                    <media align="middle">
                      <%= image_tag(purchase.item.item_photo.url(:thumb)) %>
                    </media>
                    <%end%></td>
                    <td>
                      <%= link_to purchase.item.name, inventory_item_path(purchase.item.inventory.id, purchase.item.id)%>
                      <br>
                      <em>
                        <%= link_to purchase.item.inventory.display_name, inventory_path(purchase.item.inventory), :style=>"color:gray;"%>
                      </em>
                    </td>
                    <td><%= purchase.quantity %></td>
                    <td><%= number_to_currency(purchase.quantity*purchase.item.price) %></td>    
                  </td>

                </tr>
                <% end %>
                <div align="right">
                  <%= form_tag APP_CONFIG[:paypal_url] do %>
                  <%= hidden_field_tag :cmd, "_s-xclick" %>
                  <%= hidden_field_tag :encrypted, current_user.cart.paypal_encrypted %>
                  <%= submit_tag "Pay Online", :class=>"btn btn-large btn-primary", :confirm => 'Are you sure you want to check out?'  %>
                  <% end %>
                </div>
              </table>
            <% else %>
              <strong>You have not placed an order yet!</strong>
            <% end %>
          


        <% if current_user.pending_payment > 0 %>
        <h4 id="cart_total" style="text-align: right;">Total Pending: <%= number_to_currency current_user.pending_payment %></h4>
        <% end %>
        
      </div>
    </div>
  </div>
</div>