<script type="text/javascript">
$(document).ready(function() {

// If it's paid for give color indication
$('.paid').each(function() {
  if ($(this).text() == 'Yes') {
    $(this).addClass('success-cell');
  } else {
    // Will make unpaid items have red cell
    // $(this).addClass('danger-cell');
  }
});

}); // end ready
</script>

<div class="container">
  <div class="row">
    <div class="span10 offset1 custom-block">

      <% if notice %>
      <div class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notice %>
      </div>
      <% end %>


      <% if alert %>
      <div class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= alert %>
      </div>
      <% end %>



      <div id="purchases-table" class="margin-five">

        <h2>Ordered Items</h2>

        <% for order in @orders %>
        <h3><%= order == "unpaid" ? order.titleize : "Order Id:" + order %></h3>
        <table class="table table-bordered">
          <tr>
            <th class="hidden-phone"></th>
            <th>Product</th>
            <th>Qty</th>
            <th>Full Price</th>
            <!-- <th>Paid For</th> -->
            <th>Purchase Time</th>
          </tr>

          <% purchases = Purchase.where("user_id = ? AND order_set = ?", current_user.id, order) %>
          <% for purchase in purchases %>
          <td class="hidden-phone">
            <% if !(purchase.item.item_photo_file_name.nil?) %>
            <media>
              <%= image_tag(purchase.item.item_photo.url(:thumb)) %>
            </media>
            <%end%>
          </td>
          <td><%= link_to purchase.item.name, inventory_item_path(purchase.item.inventory.id, purchase.item.id)%></td>
          <td><%= purchase.quantity %></td>
          <td><%= number_to_currency(purchase.quantity*purchase.item.price) %></td>
          <!-- <td class="paid"><%= purchase.paid ? "Yes" : "No" %></td> -->
          <!-- <td><%= purchase.created_at.in_time_zone("Central Time (US & Canada)")  %></td> -->
          <td><%= time_ago_in_words(purchase.created_at.in_time_zone("Central Time (US & Canada)"))  %> ago</td>
        </tr>
      </tr>
      <% end %>
    </table>
    <% end %>
    <% if current_user.pending_payment > 0 %>
    <h4 id="cart_total" style="text-align: right;">Total Pending: <%= number_to_currency current_user.pending_payment %></h4>
    <% end %>
  </div>

</div>
</div>
</div>