<script type="text/javascript">
$(document).ready(function() {

// If it's paid for give color indication
$('.paid').each(function() {
  if ($(this).text() == 'Yes') {
    $(this).addClass('success-cell');
  } else {
    // Will make unpaid items have red cell
    // $(this).addClass('danger-cell');
  }
  });

}); // end ready
</script>

<div class="container">
  <div class="row">
    <div class="span12 custom-block">

      <% if notice %>
      <div class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= notice %>
      </div>
      <% end %>

      <% if alert %>
      <div class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <%= alert %>
      </div>
      <% end %>

      <div id="purchases-table" class="margin-five">

        <h2>Ordered Items</h2>

        <table class="table">
          <tr>
            <th class="hidden-phone"></th>
            <th>Product</th>
            <th>Qty</th>
            <th>Full Price</th>
            <th>Paid For</th>
          </tr>
          <% for purchase in @purchases %>
          <td class="hidden-phone">
            <% if !(purchase.item.item_photo_file_name.nil?) %>
            <media>
              <%= image_tag(purchase.item.item_photo.url(:thumb)) %>
            </media>
            <%end%>
          </td>
          <td><%= purchase.item.name %></td>
          <td><%= purchase.quantity %></td>
          <td><%= number_to_currency(purchase.quantity*purchase.item.price) %></td>
          <td class="paid"><%= purchase.paid ? "Yes" : "No" %></td>
        </tr>
      </tr>
      <% end %>
    </table>


    <!-- Divider -->
    <ul class="nav nav-list">
      <li class="divider"></li>
    </ul>


    <h4 style="text-align: right;">Total: <%= number_to_currency current_user.pending_payment %></h4>
  </div>

</div>
</div>
</div>