<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2 custom-block">

 <%= render :partial => 'cart_change' unless @changed_items.empty? %>

			<div class=" margin-ten" align="center">
				<h2>Payment Choices</h2>
				<p>
					If you pay by cash or check, you're committing to pay for the items at pick-up. If you pay online, you'll be directed to PayPal to complete the transaction.
				</p>

				<div id="purchase-buttons">
					<%= form_for(@purchase, :url => url_for({:controller => "purchases", :action => "create"})) do |f| %>
					<%= f.submit "Pay by Cash/Check", :class=>"btn btn-large" %>
					<% end %>

					<%= form_tag APP_CONFIG[:paypal_url] do %>
					<%= hidden_field_tag :cmd, "_s-xclick" %>
					<%= hidden_field_tag :encrypted, current_user.cart.paypal_encrypted %>
					<%= submit_tag "Pay Online", :class=>"btn btn-large btn-primary" %>
					<% end %>
				</div>

			</div>

		</div>

	</div>
</div>
