<div id ="hero-image-unit" style="z-index: -1">
</div>

<% if notice %>
<div class="home_notice home_notice-success fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= notice %>
</div>
<% end %>

<% if alert %>
<div class="home_alert home_alert-success fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= alert %>
</div>
<% end %>

<div class="home_alert home_alert-success fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	blah
</div>


<div class="container-fluid" align="right">
	<div class="row">
		<div class="hero-text">
			<h2>Welcome to the Grinnell Local Foods Coop!</h2>
			<p>Support local farmers, local economy, and environmental sustainability by purchasing quality food grown right here in central Iowa.

				<br><br>
				<% if !signed_in? %>
				<%= link_to "Sign Up!", register_path,
				:class=>"btn btn-large" %>

				<% end %>

		<!-- 		<%= form_tag("/adsf", :method => "get") do |f| %>
				  <%= select(@inventory, "id", Inventory.all.collect {|i| [ i.display_name, i.id ] }, {:prompt => 'Select Producer'} ) %>
				 	
				  <%= submit_tag("Search") %>
				  <% end %> -->




				</p>
			</div>
		</div>
	</div>


	<!-- <div class="container">
		<div class="row">
	

			<div style="margin-bottom:121px;">
			</div>


			<div class="span4 custom-block">
				<p align="center">blah 1</p>
			</div>

			<div class="span4 custom-block">
				<p align="center">blah 2</p>
			</div>

			<div class="span4 custom-block">
				<p align="center">blah 3</p>
			</div>

		</div>
	</div>
 -->


