<script type="text/javascript">

$(document).ready(function() {

if ($('#application_state_orders_open_true:checked').val() == 'true') { 
  $('#clear_cart').hide()        
}

$('#application_state_orders_open_true').click(function() {
    $('#clear_cart').hide()

}); // end click

$('#application_state_orders_open_false').click(function() {
  
   $('#clear_cart').show()
}); // end click

  // hide these sections on page load
  $('#application_state_email_content').attr('disabled', true);
  $('#email_section').hide();

// show the email section when the page loads, enable it
$('#application_state_email_users_true').click(function() {
  $('#application_state_email_content').attr('disabled', false);
  $('#email_section').slideDown();

}); // end click

// roll it all back up and disable it if the "no" radio button is clicked
$('#application_state_email_users_false').click(function() {
  $('#application_state_email_content').attr('disabled', true);
  $('#email_section').slideUp();

}); // end click


      }); // end ready


</script>

<div class="container">
  <div class="row">
    <div class="span8 offset2 custom-block">

      <%= form_for(@application_state, :html=>{:multipart => true}) do |f| %>

      <% if @application_state.errors.any? %>
      <div class="alert alert-error">
        <h4><%= pluralize(@application_state.errors.count, "error") %> prohibited this application_state from being saved:</h4>

        <br><ul>
        <% @application_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>

      </ul>
    </div>
    <% end %>

    <% if signed_in? %> 
    <h1 align="center">Open/Close Orders</h1><br>
    <% end %>

    <div align="center">

      <div style="margin-bottom: 20px;">
        Open orders?
        &nbsp;&nbsp;
        Yes
        <%= f.radio_button :orders_open, true, :class=>"radio-control"%> 
        &nbsp;&nbsp;
        No
        <%= f.radio_button :orders_open, false, :class=>"radio-control"%> 
      </div>

      <div id="clear_cart" style="margin-bottom: 20px">
        Clear all carts?
        &nbsp;&nbsp;
        Yes
        <%= f.radio_button :clear_carts, true, :class=>"radio-control" %> 
        &nbsp;&nbsp;
        No
        <%= f.radio_button :clear_carts, false, :class=>"radio-control", :checked => true %> 
      </div>


      <div style="margin-bottom: 20px;">
        Email users?
        &nbsp;&nbsp;
        Yes
        <%= f.radio_button :email_users, true, :class=>"radio-control" %> 
        &nbsp;&nbsp;
        No
        <%= f.radio_button :email_users, false, :class=>"radio-control", :checked => true %> 
      </div>

     
      <div id="email_section" style="width: 230px; margin-top: 20px; text-align: left; ">
        <p>
         Hi [User],
       </p>

       <div id="email_content">
        <%= f.text_area :email_content, :placeholder=>"Write your message here" %>
      </div>
      <p>
        Have a great day!
        <br>
        Grinnell Local Foods Admins
      </p>

    </div>

    <br>
    <%= f.submit "Change State", :class=>"btn btn-primary"%>
  </div>


  <% end %>
</div>
</div>
</div>