<div class="container">
  <div class="row">
    <div class="span8 offset2 custom-block">


      <%= form_for(@application_state, :url => url_for(:controller => 'application_states', :action => 'update', :edit_form => true) , :html=>{:multipart => true}) do |f| %>

      <% if @application_state.errors.any? %>
      <div class="alert alert-error">
        <h4><%= pluralize(@application_state.errors.count, "error") %> prohibited this application_state from being saved:</h4>

        <br><ul>
        <% @application_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>

      </ul>
    </div>
    <% end %>
    <div align="center">
    <% if signed_in? && current_user.admin %>
      <h2>Edit Website Content</h2>
      <section align="left" class="margin-five" style="margin-bottom: 25px;">
        <p>
        Each of these text sections accepts basic html formatting tags. Please remember to open and close them properly, e.g. &lt;tag&gt;blah&lt;/tag&gt;. Be warned extra spaces can cause problems, so if you're seeing odd spacing that's likely the issue. The most useful tags are probably:
      </p>
      <p style="display: inline;">
         &lt;h3&gt;, &lt;h4&gt;, or &lt;h5&gt; for <h3 style="display: inline;">differently </h3> <h4 style="display: inline;">sized </h4> <h5 style="display: inline;">subheadings</h5>
          <br>
        &lt;strong&gt; for <strong>bold text</strong>
        <br>
         &lt;em&gt; for <em>italicized text</em>
         <br>
         &lt;p&gt; for new paragraphs
         <br>
         &lt;a href="some link"&gt; for a link to a different page, on or off site
         <br>
         &lt;br&gt; for when all else fails & you want  start on a new line
         <br>
      </p>
      </section>

      <h4 align="left" class="margin-five">Announcements</h4>
      <%= f.text_area :announcements, :style=>"width: 90%; height: 250px; margin-bottom: 20px;" %>   
        <h4 align="left" class="margin-five">Pickup Info</h4>
      <%= f.text_area :pickup_info, :style=>"width: 90%; height: 250px; margin-bottom: 20px;"%>
      <h4 align="left" class="margin-five">About Us</h4>
      <%= f.text_area :about, :style=>"width: 90%; height: 250px; margin-bottom: 20px;" %>
    
      

    <br>
    <%= f.submit "Save Changes", :class=>"btn btn-large btn-primary" %>
  </div>
  </div>

  <% end %>


  <% end %>
</div>
</div>
</div>