<div class="container">
  <div class="row">
    <div class="span8 offset2 custom-block">

      <!-- <div class="custom-block"> -->

      <%= form_for(@application_state, :html=>{:class=>'form-horizontal', :multipart => true}) do |f| %>
      
      <% if @application_state.errors.any? %>
      <!-- <div id="error_explanation"> -->
      <div class="alert alert-error">
        <h4><%= pluralize(@application_state.errors.count, "error") %> prohibited this application_state from being saved:</h4>

        <br><ul>
        <% @application_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>

      </ul>
    </div>
    <% end %>

    <% if signed_in? %> 
    <h1 align="center">Open/Close Orders</h1><br>
    <% end %>

    <div align="center">
      Open orders?
      &nbsp;&nbsp;
      Yes
      <%= f.radio_button :orders_open, true, :class=>"radio-control"%> 
      &nbsp;&nbsp;
      No
      <%= f.radio_button :orders_open, false, :class=>"radio-control"%> 

    </div>

    <br>

    <script type="text/javascript">
    window.onload = function()
    {
       document.getElementById('application_state_email_content').disabled = true;
       document.getElementById('application_state_email_users_true').onclick = enable;
       document.getElementById('application_state_email_users_false').onclick = disable;
    }

    function enable()
    {
      if(this.value == "true")
        document.getElementById('application_state_email_content').disabled = false;
    }

    function disable()
    {
      if(this.value == "false")
        document.getElementById('application_state_email_content').disabled = true;
    }

    </script>

    <div align="center">

      Email users?
      &nbsp;&nbsp;
      Yes
      <%= f.radio_button :email_users, true, :class=>"radio-control" %> 
      &nbsp;&nbsp;
      No
      <%= f.radio_button :email_users, false, :class=>"radio-control", :checked => true %> 

    </div>
    <br>    
        <div class="controls" style="margin-left:215px">
          <div class="email-display">Hi <i>User</i>,
          <br>
          <%= f.text_area :email_content %>
          <br>
          Have a Great Day!
          <br>
          Grinnell Local Food Admin
        </div>
      </div>
    <br>
    <div align="center">
      <%= f.submit "Change State", :class=>"btn btn-primary"%>
    </div>

  
<% end %>
</div>
</div>
</div>