<div class="container">
  <div class="row">
    <div class="span8 offset2 custom-block">

      <%= form_for(@application_state, :html=>{:multipart => true}, :url => { :action => :sendemail }) do |f| %>

      <% if @application_state.errors.any? %>
      <div class="alert alert-error">
        <h4><%= pluralize(@application_state.errors.count, "error") %> prohibited this application_state from being saved:</h4>

        <br><ul>
        <% @application_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>

      </ul>
    </div>
    <% end %>

    <% if signed_in? %> 
    <h1 align="center">Email Users</h1><br>
    <% end %>

    <div align="center">

      <!-- Drop down for group selection -->
      <div class="control-group">
        <label class="control-label">
          <%= f.label "Select Group:" %>
        </label>
        <div class="controls">
         <select name="application_state[group]">
          <option value="all" selected="selected">All Users</option>
          <option value="producers">Producers</option>
          <option value="orderers">Orderers</option>
          <option value="purchasers">Purchasers</option>
        </select> 
      </div>
    </div>


    <div id="email_section" style="width: 75%; margin-top: 20px; text-align: left; ">
      <p>
       Hi [User],
     </p>

     <div id="email_content">
      <%= f.text_area :email_content, :placeholder=>"Write your message here", :style=>"width: 100%; height: 200px;" %>
    </div>
    <p>
      Have a great day!
      <br>
      Grinnell Local Foods Admins
    </p>

  </div>

  <br>
  <%= f.submit "Send Email", :class=>"btn btn-primary"%>
</div>


<% end %>
</div>
</div>
</div>