<%= form_for(@item, :url => local_assigns[:path], :html=>{:class=>'form-horizontal', :multipart => true}) do |f| %>

<% if @item.errors.any? %>
<!-- <div id="error_explanation"> -->
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h4><%= pluralize(@item.errors.count, "error") %> prohibited this user from being saved:</h4>

  <br><ul>
  <% @item.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>


</ul>
</div>
<% end %>


<div class="control-group">
  <label class="control-label">
    <%= f.label :name, "Category Type *" %>
  </label>
  <div class="controls">
   <!-- Leaving the first parameter as blank adds "inventory_id" directly to the params hash -->
   <%= collection_select(:item, :category_id, Category.all, :id, :name) %>
 </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label :name, "Item Name *" %>
  </label>
  <div class="controls">
    <%= f.text_field :name, :placeholder=>"Item Name" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label :description, "Description" %>
  </label>
  <div class="controls">
    <%= f.text_area :description, :placeholder=>"Description" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label :totalquantity, "Total Quantity *" %>
  </label>
  <div class="controls">
    <%= f.text_field :totalquantity, :placeholder=>"Total Quantity" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label :price, "Price Per Unit *" %>
  </label>
  <div class="controls">

    <div class="input-prepend">
      <span class="add-on">лв</span>
      <%= f.text_field :price, :placeholder=>"Unit Price", :class=>"span2", :id=>"inv_price_field" %>
    </div>

  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label :units, "Unit" %>
  </label>
  <div class="controls">
    <%= f.text_field :units, :placeholder=>"lb, oz, pint etc." %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label :minorder, "Minimum Order *" %>
  </label>
  <div class="controls">
    <%= f.text_field :minorder, :placeholder=>"Minimum Order" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label:display_name, "Maximum Order" %>
  </label>
  <div class="controls">
    <%= f.text_field :maxorder, :placeholder=>"Maximum Order" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">
    <%= f.label(:available, "Available") %>
  </label>
  <div class="controls">
    <div class="radio inline">
      <%= f.radio_button :available, true %> Yes
    </div>
    <div class="radio inline">
      <%= f.radio_button :available, false %> No
    </div>
  </div>
</div>

<div class="control-group">
  <div class="controls">

    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">

        <% if (@item.item_photo_file_name.nil?) %>
        <!-- <img src="http://placekitten.com/200/150" /> -->
        <img src="/assets/noimage_light.jpg">
      </div>
      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
      </div>

      <div>
        <span class="btn btn-file">
          <span class="fileupload-new">Select Photo</span>
          <span class="fileupload-exists">Change</span>
          <%= f.file_field :item_photo %>
        </span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Cancel</a>

        <% else %>

        <%= image_tag(@item.item_photo.url(:small)) %>
      </div>
      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px; max-height: 150px; line-height: 20px;">
      </div>

      <div>
        <span class="btn btn-file">
          <span class="fileupload-new">Replace Photo</span>
          <span class="fileupload-exists">Change</span>
          <%= f.file_field :item_photo %>
        </span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Cancel</a>
        <% end %>
      </div>

    </div>
  </div>
</div>


<!-- <input id="item_item_photo" type="file" name="item[item_photo]"></input> -->


<div class="control-group controls">
  <%= f.submit "Save Item", :class=>"btn btn-primary" %>
</div>

<div align="center" style="color: gray;">
  * Denotes required field
</div>
<% end %>