<% if notice %>
<div class="home_notice home_notice-success"><%= notice %></div>
<% end %>

<% if alert %>
<div class="home_alert home_alert-success"><%= alert %></div>
<% end %>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <% if @item.count != 0 %>
            <h1>Listing Products</h1>

            <table class="table table-hover">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Total Quantity</th>
                <th>Price</th>
                <th>Quantity Ordered</th>
                <th>Min Order</th>
                <th>Max Order</th>
                <th>Available</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <% @item.each do |item| %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.description %></td>
                <td><%= item.totalquantity %></td>
                <td><%= number_to_currency(item.price) %></td>
                <td><%= item.totalordered %></td>
                <td><%= item.minorder %></td>
                <td><%= item.maxorder %></td>
                <td><%= item.is_available? %></td>
                <td><%= link_to 'Show', item %></td>
                <td><%= link_to 'Edit', edit_item_path(item) %></td>
                <td><%= link_to "Delete", item, :confirm => 'Are you sure?', :method=>:delete, :class=>:Destroy %></td>
            </tr>
             <% end %>
        </table>
            
            <%= link_to 'Add Item', newitem_path, :class=>"btn" %>
            
           

        <% else %>
        <div class="container">
            <div class="row">
                <div class="span8 offset2 custom-block">

                    <h1 align="center">You have no items!</h1>
                    <br>
                    <p align="center">Add items by clicking the "Add Item" button below</p>

                    <br>
                    <p align="center"><%= link_to 'Add Item', newitem_path, :class=>"btn" %></p>
                </div>
            </div>
        </div>
        <% end %>


        </div>
    </div>
</div>