<div class="container">
	<div class="row">
		<div class="span2.5 custom-block" style="padding-bottom: 76px">
				<ul class="nav nav-list">

					<% if @user.coordinator || @user.admin %>
					<li class="nav-header">User Options</li>
					<li><%= link_to 'All Users', users_path %></li>
					<% if @user.admin %>
					<li><%= link_to 'Add User', new_user_path %></li>
					<% end %>
					<% end %>

					<% if @user.producer %>
					<li class="nav-header">Producer Options</li>
					<li><%= link_to 'Edit Current Item', edit_item_path %></li>
					<li><%= link_to 'Inventory', items_path %></li>
					<li><%= link_to 'Add Item', newitem_path %></li>
					<% end %>
				</ul>
			</div>

		<div class="span8 custom-block" >

			<% if notice %>
			<div class="alert alert-success"><%= notice %></div>
			<% end %>

			<% if alert %>
			<div class="alert alert-success"><%= alert %></div>
			<% end %>


			<h1 style="text-align:left;margin-left:65px;float:left">

				<% if !(@item.item_photo_file_name.nil?) %>
				<%= image_tag(@item.item_photo.url, :width => 150, :height => 150) %>
				<%end%>
			</h1>

			<h2 style="text-align:center;margin-right: 200px"><%= @item.name %></h2>
			<br>
			<table class="table" style="width:500px" align="center">
				<!-- 	<tr>
						<th style="color: gray">First Name</th>
						<td><%= @user.first_name %></td>
					</tr>

					<tr>
						<th style="color: gray">Last Name</th>
						<td><%= @user.last_name %></td>
					</tr> -->
					<tr>
						<th style="color: gray">Availability</th>
						<td><%=@item.is_available?(@item)%></td>
					</tr>
					<tr>
						<th style="color: gray">Price</th>
						<td><%= @item.price %></td>
					</tr>
					<tr>
						<th style="color: gray">Minimum Order</th>
						<td><%= @item.minorder %></td>
					</tr>

					<tr>
						<th style="color: gray">Maximum Order</th>
						<td><%= @item.maxorder %></td>
					</tr>

					<tr>
						<th style="color: gray">Description</th>
						<td><%= @item.description %></td>
					</tr>

				</table>

			</div>
		</div>
	</div>