<script type="text/javascript">
$(document).ready(function() {


// something about the partial makes this need to be here too
$('[data-toggle="tooltip"]').tooltip();


// hide the non-javascript show link
$('.classic_show').hide();

// make the item rows clickable and have a pointer hover-over
$('.item_row').css('cursor', 'pointer').addClass('show_link');


// SHOW ITEM BEHAVIOR


// after clicking "show"
$('.show_link').click(function() {

    // build the url for the item modal show page
    var url_string = "/inventories/" + $(this).attr('data-inventory') + "/items/" + $(this).attr('data-id') + "/show_in_modal";

    // fire the modal
    $('#item-modal').modal({  
      remote: url_string
  });
    // refresh the modal so you can go to multiple items without refreshing the whole page
    setTimeout(
      function() {
         $('#item_show').load(url_string);
     },
     100)

 }); // end click

 
// sorting arrows
$('.asc').append('<i class="icon-arrow-up sort-arrow"></i>');
$('.desc').append('<i class="icon-arrow-down sort-arrow"></i>');

}); // end ready

</script>


<!-- Modal for items -->
<div id="item-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body"></div>
</div>
<!-- End modal for items -->


<div id="all-image-unit">
<h1 id="all-title">All <%= @category.nil? ? "Products" : @category.titleize %></h1>
</div>


<div class="margin-two-five">

<div class="inventory-pagination">
<%= paginate @items, :params => {:controller => :categories, :action => :show_all}, :remote => true%>
</div>



<% if @items.count != 0 %>
 <%= form_tag show_all_categories_path, :method => :put, :id => 'category-dropdown', :remote => true do |f| %>
    <%= select_tag :category, options_from_collection_for_select(Category.all.sort {|x,y| x.name <=> y.name} , :name, :name, @category), :prompt => "All", :onchange => '$("#category-dropdown").submit();' %>
    <% end %>
<% end %>


<br>

<table class="producer-table table-hover" align="center">

    <tr>
        <th class="hidden-phone"></th>
        <th class="sort"><%= category_sortable "name", @category %></th>
        <th class="hidden-phone"><%= category_sortable "producer", @category %></th>
        <th>Description</th>
        <th class="hidden-phone sort"><%= category_sortable "price", @category %></th>
        <th class="hidden-phone sort"><%= category_sortable "category", @category %></th>
        <th class="hidden-phone sort"><%= category_sortable "available", @category %></th> 
    </tr>

    <% @items.each do |item| %>

    <tr>

        <td class="hidden-phone">
            <% if !(item.item_photo_file_name.nil?) %>
            <media class="item_row" data-id="<%= item.id %>">
                <%= image_tag(item.item_photo.url(:thumb)) %>
            </media>
            <%end%>
        </td>


        <td class="item_row" data-id="<%= item.id %>" data-inventory ="<%= item.inventory.id %>"><%= item.name %></td>
        <td class="hidden-phone"><%= link_to(item.inventory.display_name, inventory_path(item.inventory)) %></td>
        <td class="item_row " data-id="<%= item.id %>"><%= item.description.size < 50 ? item.description : item.description[0..50] + "..." %></td>
        <td class="item_row hidden-phone" data-id="<%= item.id %>">
            <%= number_to_currency(item.price) %><b>/<%= item.units.singularize %></b></td>
        <td class="category_label item_row hidden-phone" data-id="<%= item.id %>"><%= Category.find(item.category_id).name %></td>
        <td class="item_row hidden-phone" data-id="<%= item.id %>"><%= item.is_available? %></td>
        <td class="classic_show"><%= link_to "Show", 
            inventory_item_path({ :inventory_id => item.inventory_id, :id => item.id }) %></td>

    </tr>



    <% end %>

</table>

</div>


