<div class="container">
  <div class="row-fluid">
    <div class="span8 offset2 custom-block">

     <% if notice %>
     <div class="alert alert-success fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert alert-success fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= alert %>
    </div>
    <% end %>

    <% if @category.errors.any? %>
    <!-- <div id="error_explanation"> -->
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <h4><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h4>

      <br><ul>
      <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


<div class="margin-ten">

  <h1>Categories</h1>
  <table class="table table-bordered table-striped">
      <% @categories.each do |category| %>

       <tr>
        <td>
          <strong><%= category.name %></strong>
        </td>
        <% if category.name != "Other" %>
        <td style="text-align: right;"><%= link_to "Delete", category, :confirm => "You are about to delete the #{ category.name } category. Any items in #{ category.name } will be placed in 'Other'. Delete?", :method=>:delete, :class=>:Destroy %>
          <% else %>
          <td></td>
          <% end %>
        </td>

      </tr>
      <% end %>

    </table>

    <%= render 'categories_addform' %>


</div>


  </div>
</div>
</div>