
<% if signed_in? %>
<script type="text/javascript">
$(document).ready(function() {

$('#cart_link').html('Cart (<%= current_user.cart.cart_items.size %>) ');

 $('#cart_link').click(function() {

  $('#cart_modal').modal({
    remote: '<%= show_in_modal_cart_path(current_user.cart.id) %>'
  });

 }); // close click

}); // close document ready

</script>
<% end %>


<!-- Modal for cart -->
<div id="cart_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" style="margin-top: 10px;">Shopping Cart</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Continue Shopping</button>
    <button class="btn btn-primary">Checkout</button>

  </div>
</div>
<!-- End modal for cart -->


<header class="navbar navbar-fixed-top">
  <div class="navbar-inner-redux">
    <div class="container">

      <%= link_to image_tag("/img/partial_localfood_clear_horizontal_40.png", :width=>"400", :id=>"logohead"), root_path %>
      


   <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
     <span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>


<div id="nav-collapse" class="nav-collapse collapse">


      <% if signed_in? %>
      <ul id="top-nav" class="nav pull-right">
        
        <li>
          <a href="#" id="cart_link"></a>
        </li>
    

        <% if current_user.producer %> 
        <li class="dropdown nav">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Inventory
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to("View Inventory", inventory_path(current_user)) %></li>
            <li><%= link_to("Add Item", producer_new_inventory_items_path(current_user)) %></li>
            <li><%= link_to 'Add Multiple Items', add_inventory_path(current_user) %></li>
            <li><%= link_to 'Edit Multiple Items', edit_inventory_path(current_user) %></li>
          </ul>
        </li>   
        <% end %>

        <li class="dropdown nav">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Edit Account", edit_user_path(current_user, :origin => "header") %></li>
            <li><%= link_to "Change Password", editpassword_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", logout_path, :method => :delete %></li>
          </ul>
        </li>   
        <% else %>

        <span id="header-login">
        <%= form_for(:session, :url => sessions_path, 
        :html=>{:class=>'navbar-form pull-right'}) do |f| %>

        <%= f.text_field :email, :placeholder=>"Email", 
        :class=>"span2" %>

        <%= f.password_field :password, :placeholder=>"Password",
        :class=>"span2" %>

        <%= f.submit "Log In", :class=>"btn" %>

        <% end %>

        <% end %>
      </span>

      </ul>




    </div>


    </div>
  </div>
  
  <div class="navbar-inner-inner">
    <div class="container">
     <ul class="sub-nav pull-left">

      <li><%= link_to("Browse Products", inventories_path)%></li>
      <li><%= link_to("Pickup Info", pickup_info_path)%></li>
      <li><%= link_to("About Us", about_path)%></li>

    </ul>

    <div class="navbar-form pull-right" style="margin-bottom: -40px; margin-left: 10px;">
      <div class="input-append" style="display: inherit;">

        <%= form_tag :controller => 'items', :action => :search do %>
        <input id="search-header" class="span2" type="text" name="search" placeholder="Search Products">
        <button class="btn" type="submit" value="Search">
          <i class="icon-search"></i>
        </button>
        <% end %>

      </div>
    </div>

    
  </div>
</div>

</header>


