<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>

          <!-- <ul class="nav pull-left">
          <li><%= link_to "Grinnell LocalFoods", root_path, :class=>"brand" %></li>
          </ul> -->

          <%= link_to image_tag("/img/just_localfood_horizontal_40.png", :width=>"250", :id=>"logohead"), root_path %>
       
        
        <ul class="nav pull-right">


          <% if signed_in? %>


          <% if current_user.admin %> 
          <li><%= link_to "Add User", new_user_path %></li>
          <% end %>
          <% if current_user.admin || current_user.coordinator %> 
          <li><%= link_to "Show Users", users_path %></li>
          <% end %>

          <% if current_user.farmer %> 
          <li class="dropdown nav">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Farmer
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add Item", newitem_path %></li>
              <li><%= link_to "Inventory", inventories_path %></li>
            </li>   
            </ul>
          <% end %>


          <!-- <li><%= link_to "Home", root_path %></li> -->
          <!-- <li class="divider-vertical"></li> -->
          <li class="dropdown nav pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Edit Account", edit_user_path(current_user) %></li>
              <li><%= link_to "Change Password", editpassword_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log Out", logout_path, :method => :delete %>
              </ul>
            </li>   
          <% else %>


          <%= form_for(:session, :url => sessions_path, 
          :html=>{:class=>'navbar-form pull-right'}) do |f| %>

          <%= f.text_field :email, :placeholder=>"Email", 
          :class=>"span2" %>

          <%= f.password_field :password, :placeholder=>"Password",
          :class=>"span2" %>

          <%= f.submit "Log In", :class=>"btn" %>

          <% end %>

          <% end %>

        </ul>



      </nav>

    </div>
  </div>
</header>
