<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>

	<%= stylesheet_link_tag :application %>		
<!-- '' -->
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tag %>

<script type="text/javascript">

$(document).ready(function() {
$('[data-toggle="tooltip"]').tooltip();

}); //end ready

</script>

</head>
	<body>
	<%= render 'layouts/header' %>
	<br style="margin-bottom:10px">

	<%= yield %>

	<%= render 'layouts/footer' %>
	</body>
</html>
