<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>


	<%= stylesheet_link_tag '/stylesheets/custom.css' %>
	<%= stylesheet_link_tag '/stylesheets/bootstrap.css' %>	
	<!-- :defaults MUST come after jquery.j, as rails.js has to be loaded after jquery -->
	<%= javascript_include_tag 'jquery.js', 'bootstrap.js', :defaults %>
	<%= csrf_meta_tag %>
</head>
	<body>
	<%= render 'layouts/header' %>
	<br style="margin-bottom:10px">

	<%= yield %>

	<%= render 'layouts/footer' %>
	</body>

</html>
