<!DOCTYPE html>
<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= title %></title>

	<%= stylesheet_link_tag :application %>	
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tag %>

<script type="text/javascript">

$(document).ready(function() {
$('[data-toggle="tooltip"]').tooltip();

}); //end ready

</script>

</head>
	<body>

<!--[if lt IE 9]>
 <div id="old-ie-warning">
        <p>Uh oh...it looks like you're using a version of Internet Explorer below 9. We strongly STRONGLY encourage you to <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade*</a> to at least IE9, or download <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> or <a href="http://www.google.com/chrome">Google Chrome</a>, as the site just isn't going to work properly otherwise.</p>

        <p id="ie-warning-note">*If you're still using Windows XP you unfortunately won't be able to get a new enough version of IE, so go the Firefox or Chrome route instead.</p>

    </div>
<![endif]-->


	<%= render 'layouts/header' %>

	<%= yield %>

	<%= render 'layouts/footer' %>
	</body>
</html>
