<!DOCTYPE html>
<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<title><%= title %></title>

	<%= stylesheet_link_tag :application %>		
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tag %>

<script type="text/javascript">

$(document).ready(function() {
$('[data-toggle="tooltip"]').tooltip();

}); //end ready

</script>

</head>
	<body>
	<%= render 'layouts/header' %>

	<%= yield %>

	<%= render 'layouts/footer' %>
	</body>
</html>
