<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>

	<%= stylesheet_link_tag '/stylesheets/custom.css' %>
	<%= stylesheet_link_tag '/stylesheets/bootstrap.css' %>	
	<%= stylesheet_link_tag '/stylesheets/bootstrap-fileupload.css' %>	


	


	<!-- :defaults MUST come after jquery.js, as rails.js has to be loaded after jquery -->
	<script src="https:/ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
	</script>
	<%= javascript_include_tag 'bootstrap.min.js', 'bootstrap-fileupload.min.js', :defaults%>
	<%= csrf_meta_tag %>

<script type="text/javascript">

$(document).ready(function() {
$('[data-toggle="tooltip"]').tooltip();

}); //end ready

</script>

</head>
	<body>
	<%= render 'layouts/header' %>
	<br style="margin-bottom:10px">

	<%= yield %>

	<%= render 'layouts/footer' %>
	</body>

</html>
