<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>

	<%= stylesheet_link_tag 'bootstrap-v2.3.1.css' %>	
	<%= stylesheet_link_tag 'bootstrap-fileupload.css' %>
	<%= stylesheet_link_tag 'custom.css' %>
	<%= stylesheet_link_tag 'bootstrap-changes.css' %>		

	<!-- :defaults MUST come after jquery.js, as rails.js has to be loaded after jquery -->
	
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tag %>

<script type="text/javascript">

$(document).ready(function() {
$('[data-toggle="tooltip"]').tooltip();

}); //end ready

</script>

</head>
	<body>
	<%= render 'layouts/header' %>
	<br style="margin-bottom:10px">

	<%= yield %>

	<%= render 'layouts/footer' %>
	</body>
</html>
