<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>

	<%= stylesheet_link_tag '/stylesheets/bootstrap-v2.3.1.css' %>		
	<%= stylesheet_link_tag '/stylesheets/bootstrap-fileupload.css' %>	
	<%= stylesheet_link_tag '/stylesheets/custom.css' %>
	<%= stylesheet_link_tag '/stylesheets/bootstrap-changes.css' %>	

<script type="text/javascript">

$(document).ready(function() {
$('[data-toggle="tooltip"]').tooltip();

}); //end ready

</script>

</head>
	<body>
	<%= yield %>
	</body>
</html>
